<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>ProCalculator</title>
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body>
    <header>
      <h1>ProCalculator</h1>
    </header>

    <main>
      <section class="calculator"></section>
    </main>

    <footer>
      <p>Built with FastAPI • Day 1 / 50</p>
    </footer>

    <script src="/static/js/script.js"></script>
  </body>
</html>
